html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.container {


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* padding: 10px; */
}

/* Определение фонов для каждого экрана */
.default-bg {
  background-image: url('../public/pero.png');
}

.claim-bg {
  background-image: url('../public/pero.png');
}

.upgrade-time-bg {
  background-image: url('../public/pero.png');
}

.upgrade-speed-bg {
  background-image: url('../public/pero.png');
}

.missions-bg {
  background-image: url('../public/mission.png');
}

.nft-bg {
  background-image: url('../public/nft.png');
}

.refferal-bg {
  background-image: url('../public/refferal.png');
}

.top-buttons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom-buttons {
  flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    display: flex;
    height: 146px;
    width: 85%;
    margin-left: 8%;
} 

.bottom-buttons .button {
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 85%;
  margin-left: 8%; */
  height: 80px;

}

.button .image{width: 92px;}


.header-im, .image {
  /* width: 80px; */
  padding: 5px;
}

.sspeed{
  flex-grow: 1;
  background-image: url(/public/upgrade.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-left: -4%;
  margin-bottom: 48%;
  height: 10%;
  height: 10%;
  background-repeat: no-repeat;
  padding: 7px;
}


  
    .cclaim {
      display: flex;
      width: 102.5%;
      background-repeat: no-repeat;
      margin-bottom: 72%;
      margin-left: -3%;
  }
  

.ttime{
  flex-grow: 1;
  background-image: url(/public/time.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-left: -4%;
  margin-bottom: 48%;
  height: 10%;
  height: 10%;
  background-repeat: no-repeat;
  padding: 7px;
  display: flex;
}

