html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
video::-webkit-media-controls {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* padding: 10px; */
}

.animate-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* для защиты от увеличения */
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover
  /* z-index: -1;  */
}

/* Определение фонов для каждого экрана */
.default-bg {
  background-image: url('../public/clearbg2.png');
      background-size: cover;
}

.claim-bg {
  background-image: url('../public/clearbg2.png');
}

.upgrade-time-bg {
  background-image: url('../public/clearbg2.png');
}

.upgrade-speed-bg {
  background-image: url('../public/clearbg2.png');
}

.missions-bg {
  background-image: url('../public/mission.png');
  background-size: cover;
  z-index: 100;
}
.nft-bg {
  background-image: url('../public/nft.png');
  background-size: cover;
  z-index: 100;
}

.refferal-bg {
  background-size: cover;
  background-image: url('/refferal.png');
  z-index: 100;
}

.wallet-bg {
  background-image: url('../public/connect-wallet.png');
  /* background-size: cover; */
  z-index: 100;
  background-size: cover;

}
.bb{
  margin-bottom: 10%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom: 2%;
  display: flex;
  width: 83%;
}

.top-buttons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -21%;
  position: absolute;
  width: 94%;
}

.bottom-buttons {
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom:2%;
  display: flex;
  width: 83%;
  margin-left: 10%;
} 

.button .image{    
  width: 80px;
  display: flex;
}

.header-im, .image {
  padding: 5px;
}

.upgrade-cont{
  display: block;
  position: absolute;
  margin-top: 50%
}


  .ups.hidden {
    display: none;
    margin-bottom:20%;

  }
  
  .ups {
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    display: block;
    margin-top:20%;
    transition: opacity 0.5s ease-in-out;
    width: 100%;

  }
  
  .ups.visible {
    display: flex;
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    margin-top:20%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    
  }
  
  .cclaim {
    display: flex;
    background-image: url('/public/claim.png');
    background-size: contain; 
    background-position: center;
    width: 100%;
    margin-left: -3%;
    margin-bottom: 48%;
    background-repeat: no-repeat;
    padding: 5px;
    display: flex;
    flex-grow: 1;
  }

  .ttime {
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    display: block;
    transition: opacity 0.5s ease-in;
    width: 100%;
    position: fixed;
    
  }


  .ttime.fade-out
  {
    display: flex; 
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    /* margin-top: 42%; */
    transition: opacity 0.5s ease-in;

    width: 101%;
  }

  .ttime.fade-in
  {
    display: flex; /* Показываем GIF */
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    width: 101%;
    opacity: 1;   
    margin-top:'25%';
  
    /* animation: fadeIn 0.2s ease-in; */

  }

    /* @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }     */
    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }    
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }  

.speed-cont{
  margin-top: 29%; 

}

  .gif-animation {
    /* animation: fadeInOut 3s forwards; */
    display: block; /* Показываем GIF */
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    display: block;
    /* margin-bottom: 65%; */
  }
  
  .ttime.hidden {
    background-size: contain;
    background-position: center;
    margin-left: -1%;
    background-repeat: no-repeat;
    width: 101%;
    margin-top: 22%; 
    display: none; /* Скрываем статическое изображение */
  }

  
.sspeed{
  flex-grow: 1;
  background-image: url('/public/upgrade.png');
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-left: -4%;
  margin-bottom: 48%;
  background-repeat: no-repeat;
  padding: 7px;
}


  /* @media (max-width: 375px) {
    .ttime{
      margin-bottom: 44% !important;
      height: 130% !important;
    }
  } */
  /* @media (min-width: 400px) {
    .ttime{
      margin-bottom: 10% !important;
      height: 130% !important;
    }
  } */